@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap'); /*font*/

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} /*remove all the margin and padding,make sure anything is perfect size*/

a{ /*link color and no underline*/
  text-decoration: none;
  color: #c5c6c7;
}